###############################################################################
# {{.ProjectName}} Configuration File
#
# This file defines project runtime configuration.
#
###############################################################################

# ------------------------------------------------------------------------------
# Example Section
# ------------------------------------------------------------------------------

# Example variable used by the default service implementation
someVar: "example-value"
